# Copyright (c) Facebook, Inc. and its affiliates.

aliases:
 - &filter-only-master
   branches:
     only:
       - master

version: 2
jobs:
  deploy-website:
    docker:
      - image: circleci/node:8.11.1
    steps:
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email "docusaurus-bot@users.noreply.github.com"
            git config --global user.name "Website Deployment Script"
            echo "machine github.com login docusaurus-bot password $GITHUB_DOCUSAURUS_TOKEN" > ~/.netrc
            cd website && yarn install && GIT_USER=docusaurus-bot USE_SSH=false yarn run publish-gh-pages
  build-android-release:
    docker:
      - image: circleci/android:api-28-ndk-r17b
    steps:
      - checkout
      - run: yes | sdkmanager --licenses || exit 0
      - run: yes | sdkmanager --update || exit 0
      - run: ./gradlew prepareNative
      - run: ./gradlew assembleRelease

  build-android-sample-app:
    docker:
      - image: circleci/android:api-28-ndk-r17b
    steps:
      - checkout
      - run: yes | sdkmanager --licenses || exit 0
      - run: yes | sdkmanager --update || exit 0
      - run: ./gradlew prepareNative
      - run: ./gradlew android:sample:assembleDebug

  test-android-unit:
    docker:
      - image: circleci/android:api-28-ndk-r17b
    steps:
      - checkout
      - run: yes | sdkmanager --licenses || exit 0
      - run: yes | sdkmanager --update || exit 0
      - run: ./gradlew prepareNative
      - run: ./gradlew test

  test-android-instrumented:
    docker:
      - image: circleci/android:api-28-ndk-r17b
    steps:
      - checkout
      - run: yes | sdkmanager --licenses || exit 0
      - run: yes | sdkmanager --update || exit 0
      - run: ./gradlew prepareNative
      - run: ./gradlew connectedAndroidTest

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website:
          filters: *filter-only-master
      - build-android-release
      - build-android-sample-app
      - test-android-unit
      - test-android-instrumented
